
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  migrate:
    build: ./backend
    command: alembic upgrade head
    env_file:
      - ./backend/.env
    depends_on:
      - db
    volumes:
      - ./backend:/backend
  backend:
    build: ./backend
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      migrate:
        condition: service_completed_successfully
    volumes:
      - ./backend:/backend

volumes:
  postgres_data: